a {
    color: #55C;
}

a.ms, a.ms:hover {
    color: #000;
    cursor: default;
    text-decoration: none;
}

p, h1 {
    text-align: center;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24px;
}

h6 {
    text-align: center;
    font-weight: normal;
    color: #777;
}

#logo {
    margin-bottom: -10px;
    width: 40px;
    height: 40px;
    display: inline;
}

